
@{
    ViewData["Title"] = "AddToCart";
}

<h3>Add To Cart</h3>
<p>
    Item added to cart successfully....
    <a asp-action="GetCartItems" asp-controller="customer">Show Items In Cart</a><br />
    <a asp-action="GetItems">Menu Items</a>
</p>

